name: "Build Powershell SDK"

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_powershell_sdk:
    name: Build powershell SDK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
    
      - name: Checkout API Specs Repo
        uses: actions/checkout@v3
        with:
          repository: sailpoint-oss/api-specs
          path: api-specs
          ref: main
      
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Build V3 SDK
        id: buildV3
        run: |
          rm -rf ./sdk-output/v3
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.v3.yaml -g powershell -o sdk-output/v3 --global-property skipFormModel=false --config sdk-resources/v3-config.yaml
          node sdk-resources/postscript.js ./sdk-output/v3
      
      - name: Build Beta SDK
        id: buildBeta
        if: steps.buildV3.outcome == 'success'
        run: |
          rm -rf ./sdk-output/beta
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.beta.yaml -g powershell -o sdk-output/beta --global-property skipFormModel=false --config sdk-resources/beta-config.yaml
          node sdk-resources/postscript.js ./sdk-output/beta
      
      - name: Build V2 SDK
        id: buildV2
        if: steps.buildBeta.outcome == 'success'
        run: |
          rm -rf ./sdk-output/v2
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.v2.yaml -g powershell -o sdk-output/v2 --global-property skipFormModel=false --config sdk-resources/v2-config.yaml

      - name: Build CC SDK
        id: buildCC
        if: steps.buildV2.outcome == 'success'
        run: |
          rm -rf ./sdk-output/cc
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.cc.yaml -g powershell -o sdk-output/cc --global-property skipFormModel=false --config sdk-resources/cc-config.yaml

      - name: After SDK Build
        if: steps.buildCC.outcome == 'success'
        shell: pwsh
        run: |
          $DebugPreference="Continue"
          Import-Module -Name '.\sdk-output' -Verbose